@import "common/mixins";
@import "common/variables";

@import "components/articles/featured-slider";
@import "components/articles/featured-article";

.title-header {
  font-family: -apple-system, BlinkMacSystemFont, 'Source Sans Pro', sans-serif;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
  color: rgba(255,255,255,0.9);
  width: 100%;
  font-size: 60px;
  text-align: center!important;
  box-sizing: border-box;
}
